<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("CangarooUI", root_path, class: "navbar-brand") %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
        <%= render partial: 'cangaroo_ui/queued_count' %>
        <span id="js-error-notice">
          <%= render partial: 'cangaroo_ui/error_notice' %>
        </span>
        <div class="form-group">
          <%= text_field_tag :search,
            nil,
            class: 'form-control',
            style: 'width: 250px',
            placeholder: "Search payloads and errors" %>
        </div>

        <%= submit_tag "Search", class: 'btn btn-default' %>

        <%= content_tag(:div, class: "form-group js-flash-msg") do %>
          <%= CangarooUI::FlashHelper.to_bootstrap_alert(self, flash) %>
        <% end %>

      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Transactions", transactions_path) %></li>
        <li><%= link_to("Records", records_path) %></li>
      </ul>
    </div>
  </div>
</nav>
