<%= form_for @record, :html => { :class => "form-horizontal record" } do |f| %>

  <% if @record.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:number) %>
  </div>
  <div class="form-group">
    <%= f.label :kind, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :kind, :class => 'form-control' %>
    </div>
    <%=f.error_span(:kind) %>
  </div>
  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                records_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
