<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Kind</th>
      <th>Data</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.number %></td>
        <td><%= CangarooUI::RecordsHelper.record_kind_to_bootstrap_label(self, record.kind) %></td>
        <td><%= truncate(record.data.inspect, length: 100) %></td>
        <td>
          <%= CangarooUI::ApplicationHelper.to_humanized_dt(record.created_at) %>
        </td>
        <td>
          <%= link_to "Show", record_path(record), class: 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @records if @records.respond_to?(:total_pages) %>
